:root {
    --ff-um: "Roboto", sans-serif;
    --fs-um: 1.125rem;
    --fs-dois: 2.125rem;
    --fs-tres: 2.25rem;
    --cor-um: black;
    --cor-dois: white;
    --cor-tres: gold;
}

.banner {
    height: 80vh;
    width: 100vw;

    background: url("https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1965&q=80");
    background-size: 220vw;
    background-position: center;
}

.destaques h2 {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background: var(--cor-um);
    color: var(--cor-dois);
    
    font-size: 30px;
}

.destaques h2 span {
    color: var(--cor-tres);

    font-size: 30px;
    font-weight: 800;
}

.cards {
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    min-height: 12rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;

    box-shadow: inset 0px 0px 35px 18px rgba(0,0,0,0.3);
}

.card__titulo {
    max-width: 13ch;
    margin-bottom: 2.3rem;

    font-size: 28px;
    font-weight: 500;
}

.card__titulo a {
    color: var(--cor-dois);
}

.card__informacao p {
    color: var(--cor-dois);

    font-size: 17px;
    font-weight: 300;
}

.subnav {
    padding: 1rem;

    background: var(--cor-um);
}

.subnav h2,
.subnav__ativador {
    color: var(--cor-dois);
    
    font-size: 30px;
}

.subnav__ativador {
    color: var(--cor-tres);
    
    font-weight: 800;
}

.subnav__ativador span {
    color: var(--cor-tres);

    font-weight: 600;
    vertical-align: middle;
}

.subnav__dropdown {
    display: none;
}

.subnav__dropdown li {
    padding: 0.75rem 0 0.75rem 0;

    font-size: 18px;
    font-weight: 400;
}

.subnav__dropdown a {
    padding: 0.25rem 0.25rem 0.25rem 0;
    
    color: var(--cor-dois);
}

.artigos {
    padding: 0.5rem;
}

.artigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.artigo > * {
    margin-bottom: 1.7rem;
}

.artigo__imagem ~ * {
    margin-left: 1.5rem;  
}

.artigo__imagem {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.artigo__titulo {
    font-size: 34px;
    font-weight: 700;
    max-width: 12ch;
    letter-spacing: 1.25px;
}

.artigo__titulo a {
    color: rgb(231, 197, 0);
}

.artigo__informacoes {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 30px;
}

.artigo__conteudo {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 32px;
    max-width: 23ch;
}

.artigo__conteudo p {
    margin-bottom: 1rem;
}
